<app-navbar></app-navbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">Akshay Kumar</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="side content mat-elevation-z4" >
      <h2>User Details</h2>
      <p >Name : {{data[0].name}}</p>
      <p>Birth : {{ data[1].birth}}</p>
      <p>Number : {{data[2].number}}</p>
      <p>Gender : {{data[3].gender}}</p>
      <p>Country : {{data[4].country}}</p>
      <p>Bio : {{data[5].bio}}</p>
      <p>Email:{{data[6].email1}}</p>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
