<mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Account detail</h2>
      </div>
      <form #AccountForm="ngForm"  (ngSubmit)="submit(AccountForm);">
    <div class="user_name">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User name</mat-label>
            <input
            ngModel required #user_name="ngModel" pattern="[a-zA-Z]{5,25}" name="user_name"
                matInput
                placeholder="Enter user name"
              />
            </mat-form-field>
        </div>
    <div class="user_email">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
               name="email_user" ngModel email required #email_user="ngModel"
                matInput
                placeholder="Enter email address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
              />
              <small  class="form-text text-muted" *ngIf="email_user.touched && !email_user.valid" class="text-danger"></small>
            </mat-form-field>
        </div>
    <div class="password">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
               name="password" #password="ngModel"
                matInput
                placeholder="Enter password" ngModel required pattern= "(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}" type="password"
              />
            </mat-form-field>
        </div>
        <div class="ConfirmPassword">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
               name="ConfirmPassword" #ConfirmPassword="ngModel"
                matInput
                placeholder="Confirm password" ngModel required pattern= "(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}" type="password"
              />
            </mat-form-field>
        </div>
    <div class="check_box">
            <section class="example-section">
                <mat-checkbox class="example-margin" ngModel name="tick" #tick="ngModel" required>I accent terms and conditions</mat-checkbox>
              </section>
        </div>
        <button mat-flat-button color="primary" [disabled]="!AccountForm.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>


